.jqbar
{
    position: relative;
    top: 60px;
    text-align: center;
    left: 100px;
}
.jqbar.vertical
{
    text-align: center;
    display: inline-block;
    padding-left: 110px; /*막대 그래프 간 간격*/
}
.jqbar.vertical span
{
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.jqbar.vertical .bar-percent
{
    font-size: 11px;
    font-weight: bold;
    position: relative;
    height: 20px;
    margin-bottom: 5px;
    width: 100%;
}
.jqbar.vertical .bar-level-wrapper
{
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.jqbar.vertical .bar-level
{
    position: absolute;
}


