.container{
    position: absolute;
    width: 95%;
    height: 60%;
    top: 323px;
    left: 50%;
    margin-left: -48%;
}
.leftYellowBox{
    float: left;
    width: 50%;
    height: 95%;
    margin: 30px;
    background: #ffffff;
    border: 5px solid #EAD08C;
    border-radius: 58px;
    vertical-align: middle;
}
.rightYellowBox{
    float: right;
    width: 40%;
    height: 95%;
    margin: 30px;
    background: #ffffff;
    border: 5px solid #EAD08C;
    border-radius: 58px;
    vertical-align: middle;
    text-align: center;

}
.container .text{
    margin: 50px;
    /* float: left; */
    font-family:"Sans Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #483F37;   
}


.rightYellowBox #payButton button{
    position: relative;
    width: 200px;
    height: 100px;
    /* margin: 20px; */
    /* margin-top: 50px;
    margin-right: 30px; */
    vertical-align: middle;
    text-align: center;
    background: #EAD08C;
    border-radius: 20px;
    border: none;
}
#buttonText{
    /* text-align: center;
    vertical-align: middle; */
    font-family: "Red Rose";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #483F37;
}