.text{
    position: absolute;
    width: 515px;
    height: 45px;
    top:350px;
    margin-left: 300px;

    font-family: "Red Rose";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    color: #483F37;
}
.yellowRoundBox{
    position: absolute;
    width: 1220px;
    height: 450px;
    left: 50%;
    margin-top: 10px;
    margin-left: -610px;

    background: #FFFFFF;
    border: 3px solid #EAD08C;
    border-radius: 53px;
    color: #483F37;
}
.yellowRoundBox .table{
    width: 1150px;
    height: 360px;
    text-align: center;
    vertical-align: middle;
}
.yellowRoundBox .table th{
    border-bottom: 1px solid #444444;
    font-size: 20px;
}
table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  td {
    border-bottom: 1px solid #444444;
    
  }
        .line{border-bottom:1px solid #483F37;}