<!DOCTYPE html>
<html>
<head>
<title>merong</title>
<style>
.time-block{
    width: 700px;
    height: 130px;
    margin: 10px;
}

.time{
    float: left;
    text-align: center;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
    width: 37px;
    height: 57px;
}

.timeBlock{
    /* position: absolute; */
    float: left;
    margin: 10px;
    width: 27px;
    height: 47px;
    background-color: #C4C4C4;
}
.clicked{
    /* position: absolute; */
    float: left;
    margin: 10px;
    width: 27px;
    height: 47px;
    background-color: #EAD08C;
}
.unavailable{
    /* position: absolute; */
    float: left;
    margin: 10px;
    width: 27px;
    height: 47px;
    background-color: #4e4e4e;
}
.colorBox{
    float: left;
    width: 50px;
    margin: 10px;
    margin-left: 100px;
}
.timeText{
    float: right;
    margin: 10px;
    margin-left: 80px;
    text-align: center;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 30px;
    /* width: 50px; */
}
</style>
</head>
<body>
    <div class="time-block">
        <!-- 0시 -->
        <label for="cb0"><div class="time">0<div class="timeBlock"></div></div></label>
        <label for="cb1"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        <label for="cb2"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        <label for="cb3"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        <label for="cb4"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        <label for="cb5"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        
        <!-- 6시 -->
        <label for="cb6"><div class="time">6<div class="timeBlock"></div></div></label>
        <label for="cb7"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        <label for="cb8"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        <label for="cb9"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        <label for="cb10"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        <label for="cb11"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>

        <div class="colorBox"><img src="./image/colorBox.png" width="150"></div>
    </div>
    <div class="time-block">
        <!-- 12시 -->
        <label for="cb12"><div class="time">12<div class="timeBlock"></div></div></label>
        <label for="cb13"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        <label for="cb14"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        <label for="cb15"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        <label for="cb16"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        <label for="cb17"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        
        <!-- 24시 -->
        <label for="cb18"><div class="time">18<div class="timeBlock"></div></div></label>
        <label for="cb19"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        <label for="cb20"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        <label for="cb21"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        <label for="cb22"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        <label for="cb23"><div class="time">&nbsp;<div class="timeBlock"></div></div></label>
        <div style="text-align: right; margin-right: 10px;">
            <h2>선택시간 <br></h2>
            <div class="timeText"></div>
        </div>
    </div>
    
    
    <form name="form1">
        <input type="checkbox" id="cb0" name="cb0" value="00:00:00" style="display: none;">
        <input type="checkbox" id="cb1" name="cb1" value="01:00:00" style="display: none;">
        <input type="checkbox" id="cb2" name="cb2" value="02:00:00" style="display: none;">
        <input type="checkbox" id="cb3" name="cb3" value="03:00:00" style="display: none;">
        <input type="checkbox" id="cb4" name="cb4" value="04:00:00" style="display: none;">
        <input type="checkbox" id="cb5" name="cb5" value="05:00:00" style="display: none;"> 

        <input type="checkbox" id="cb6" name="cb6" value="06:00:00" style="display: none;">
        <input type="checkbox" id="cb7" name="cb7" value="07:00:00" style="display: none;">
        <input type="checkbox" id="cb8" name="cb8" value="08:00:00" style="display: none;">
        <input type="checkbox" id="cb9" name="cb9" value="09:00:00" style="display: none;">
        <input type="checkbox" id="cb10" name="cb10" value="10:00:00" style="display: none;">
        <input type="checkbox" id="cb11" name="cb11" value="11:00:00" style="display: none;">

        <input type="checkbox" id="cb12" name="cb12" value="12:00:00" style="display: none;">
        <input type="checkbox" id="cb13" name="cb13" value="13:00:00" style="display: none;">
        <input type="checkbox" id="cb14" name="cb14" value="14:00:00" style="display: none;">
        <input type="checkbox" id="cb15" name="cb15" value="15:00:00" style="display: none;">
        <input type="checkbox" id="cb16" name="cb16" value="16:00:00" style="display: none;">
        <input type="checkbox" id="cb17" name="cb17" value="17:00:00" style="display: none;">

        <input type="checkbox" id="cb18" name="cb18" value="18:00:00" style="display: none;">
        <input type="checkbox" id="cb19" name="cb19" value="19:00:00" style="display: none;">
        <input type="checkbox" id="cb20" name="cb20" value="20:00:00" style="display: none;">
        <input type="checkbox" id="cb21" name="cb21" value="21:00:00" style="display: none;">
        <input type="checkbox" id="cb22" name="cb22" value="22:00:00" style="display: none;">
        <input type="checkbox" id="cb23" name="cb23" value="23:00:00" style="display: none;">

        <input type="button" value="확인" onclick="Check(this.form);">
   </form>
<script>
    //시간선택
var timeBlock = document.getElementsByClassName("timeBlock");

function init() {
    for (var i = 0; i < timeBlock.length; i++) {
    timeBlock[i].addEventListener("click", handleClick);
    }
}
var cnt=0;
function handleClick(event) {
    event.target.classList.add("clicked");
    cnt++;
    document.querySelector('.timeText').textContent = cnt + '시간';
}

init();

//====================
//'확인' 버튼을 클릭했을 때 실행되는 메서드
function Check(form){

var msg = "";

if (form.cb0.checked){
  msg += form.cb0.value + "\n";
}if (form.cb1.checked){
  msg += form.cb1.value + "\n";
}if (form.cb2.checked){
  msg += form.cb2.value + "\n";
}if (form.cb3.checked){
  msg += form.cb3.value + "\n";
}if (form.cb4.checked){
  msg += form.cb4.value + "\n";
}if (form.cb5.checked){
  msg += form.cb5.value + "\n";
}if (form.cb6.checked){
  msg += form.cb6.value + "\n";
}if (form.cb7.checked){
  msg += form.cb7.value + "\n";
}if (form.cb8.checked){
  msg += form.cb8.value + "\n";
}if (form.cb9.checked){
  msg += form.cb9.value + "\n";
}if (form.cb10.checked){
  msg += form.cb10.value + "\n";
}if (form.cb11.checked){
  msg += form.cb11.value + "\n";
}if (form.cb12.checked){
  msg += form.cb12.value + "\n";
}if (form.cb13.checked){
  msg += form.cb13.value + "\n";
}if (form.cb14.checked){
  msg += form.cb14.value + "\n";
}if (form.cb15.checked){
  msg += form.cb15.value + "\n";
}if (form.cb16.checked){
  msg += form.cb16.value + "\n";
}if (form.cb17.checked){
  msg += form.cb17.value + "\n";
}if (form.cb18.checked){
  msg += form.cb18.value + "\n";
}if (form.cb19.checked){
  msg += form.cb19.value + "\n";
}if (form.cb20.checked){
  msg += form.cb20.value + "\n";
}if (form.cb21.checked){
  msg += form.cb21.value + "\n";
}if (form.cb22.checked){
  msg += form.cb22.value + "\n";
}if (form.cb23.checked){
  msg += form.cb23.value + "\n";
}

//나중에 바꾸기
alert(msg);
}


</script>
</body>
</html>