<!DOCTYPE html>
<html>
<form action="/departCar" method="POST">
<head>
    <title>ParkBentley</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/enterCar.css" />
    <!-- <link rel="stylesheet" href="./css/calendar.css" /> -->
    <link href='https://fonts.googleapis.com/css?family=Red Rose' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>

<body>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <nav class="loginText">
        <%if ( list[0].ID == "root" ) { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/join">Join</a></li>
        <% } else { %>
            <li><a href="/main"><%=list[0].ID %>님 환영합니다!</a></li>
        <% } %>
    </nav>
    <nav class="navbar">
        <div class="logo">

            <a href="./index.html">Park Bentley</a>

        </div>
        <ul class="navbar_menu">
            <li><a href="">서비스 이용</a>
                <ul>
                    <li><a href="./makeReservation.html">예약하기</a></li>
                    <li><a href="./changeReservation.html">예약변경</a></li>
                </ul>
            </li>
            <li><a href="">입출차 확인</a>
                <ul>
                    <li><a href="./enterCar.html">입차하기</a></li>
                    <li><a href="./departCar.html">출차하기</a></li>
                </ul>
            </li>
            <li><a href="">마이페이지</a>
                <ul>
                    <li><a href="myrecord.html">사용 기록 조회</a></li>
                    <li><a href="charge.html">잔액 충전</a></li>
                </ul>
            </li>
            <%if ( list[0].ID == "admin" ) { %>
                <li><a href="">사용 통계 조회</a>
                    <ul>
                        <li><a href="/adminMonth">월별 사용통계</a></li>
                        <li><a href="/adminDay">일별 사용통계</a></li>
                    </ul>
                </li>
            <% } else { %>
            <% } %>
        </ul>
    </nav>
    
    <div class="yellowBar">
        <p class="yellowBarText">출차 하기</p>
    </div>

    <!-- 기본 테마 끝 -->

    <div class="yellowRoundBox">
        <div class="grayBox">
            <div class="car-num" id="image_container" ></div>
            <div id="cameraButton" >
                <label for="ex_file"><img src="./image/camera.png" width="200"></label> 
                
            </div>

        </div>
        <form method="post" enctype="multipart/form-data">

            <input type="file" id="ex_file" style="display: none;" accept="image/*" onchange="setThumbnail(event);"/> 
            <div id="enterButton">
                <button type="submit" id="buttonText" onclick="location.href='/afterDepartCar'">출차하기</button>
            </div>
          
        </form>
        
    </div>
    
    <script>
        function setThumbnail(event) { 
        var reader = new FileReader(); 
        reader.onload = function(event) { 
            var img = document.createElement("img"); 
            img.setAttribute("src", event.target.result); 
            document.querySelector("div#image_container").appendChild(img); 
        }; 
        reader.readAsDataURL(event.target.files[0]); 
        }
        //업로드한 파일 다운로드
        $('#enterButton').on('click', function() {
            var file = $("#ex_file")[0].files[0];
            var filename = file.name;
            var reader = new FileReader();
            reader.onload = function(e) {
                var base64data = reader.result;
                //a 태그를 생성한다.
                var link = document.createElement('a');
                // href에 base64데이터를 넣는다.
                link.href = base64data;
                link.download = "linkdownload4.png";
                document.body.appendChild(link);
                // 클릭한다.
                link.click();
                // 다운로드가 되면 태그를 삭제한다.
                document.body.removeChild(link);
            }
            reader.readAsDataURL(file);
        });


    </script>
</body>
</form>
</html>
