<html>
    <head>
        <meta charset="utf-8">
        <title>실제 페이지 넣을곳.</title>
    </head>
    <body>
        <h2>로그인</h2>
        <form action='/loginAf' method='post'>
            ID : <input type='text' name='id'><br>
            PASSWORD : <input type='text' name='PASSWORD'><br>
            <button type='submit'>Login</button>
        </form>
    </body>
</html>
