<!DOCTYPE html>
<html>
<form action="/main" method="POST">
<head>
    <title>ParkBentley</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/clock.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/parkingLot.css" />
    <link href='https://fonts.googleapis.com/css?family=Red Rose' rel='stylesheet'>
</head>


<body>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <nav class="loginText">
        <%if ( list[0].ID == "root" ) { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/join">Join</a></li>
        <% } else { %>
            <li><a href="/main" id="logined"><%=list[0].ID %>님 환영합니다!</a></li>
            <li><input type="hidden" value="root" name="logoutID" /></li>
            <li><button type="submit" id="button1" onclick="logout()" value="Logout">Logout</li>
        <% } %>
    </nav>
    <script>
        function logout() {
            alert("로그아웃됩니다.");
            window.location.href = "/main";
        }
    </script>
    <nav class="navbar">
        <div class="logo">

            <a href="/main">Park Bentley</a>

        </div>
        <ul class="navbar_menu">
            <li><a href="">서비스 이용</a>
                <ul>
                    <li><a href="/makeReservation">예약하기</a></li>
                    <li><a href="/changeReservation">예약변경</a></li>
                </ul>
            </li>
            <li><a href="">입출차 확인</a>
                <ul>
                    <li><a href="/enterCar">입차하기</a></li>
                    <li><a href="/departCar">출차하기</a></li>
                </ul>
            </li>
            <li><a href="">마이페이지</a>
                <ul>
                    <li><a href="/myrecord">사용 기록 조회</a></li>
                    <li><a href="/charge">잔액 충전</a></li>
                </ul>
            </li>
            <%if ( list[0].ID == "admin" ) { %>
                <li><a href="">사용 통계 조회</a>
                    <ul>
                        <li><a href="/adminMonth">월별 사용통계</a></li>
                        <li><a href="/adminDay">일별 사용통계</a></li>
                    </ul>
                </li>
            <% } else { %>
            <% } %>
        </ul>
    </nav>
    <div class="mainbar">
        
            <div class="right">
                <div class="js-date" id="date">
                    <h2>date</h2>
                    
                </div>
                <div class="js-clock">
                    <h2>00:00</h2>
                </div>
            </div>
            <div class="left-top">
                <div class = "Floor">주차장 현황 확인</div>
                <a onClick="window.location.reload()" style="cursor: pointer;"><input type="image" src="./image/reload.png"class="reload-button"> </a>
                <p  class="parking01" name="1"></p>
                <p  class="parking02" name="2"></p>
                <p  class="parking03" name="3"></p>
                <p  class="parking04" name="4"></p>
                <p  class="parking05" name="5"></p>

                <p  class="parking11" name="6"></p>
                <p  class="parking12" name="7"></p>
                <p  class="parking13" name="8"></p>
                <p  class="parking14" name="9"></p>
                <p  class="parking15" name="10"></p>
                <div name="2"></div>
            </div>
            <div class="left">
                
                
            </div>
            <div class="bottom">
                <img src="./image/information.png" width="1500px">
            </div>
        
    </div>


    <script src="./content/main/clock.js"></script>
    <script src="./content/main/date.js"></script>

</body>
</form>
</html>
