<!DOCTYPE html>
<html>

<head>
    <title>ParkBentley</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/makeReservation.css" />
    <link rel="stylesheet" href="./css/calendar.css" />

    <link href='https://fonts.googleapis.com/css?family=Red Rose' rel='stylesheet'>
    
</head>

<body>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <nav class="loginText">
        <li><a href="/login">Login</a></li>
        <li><a href="/join">Join</a></li>
    </nav>
    <nav class="navbar">
        <div class="logo">

            <a href="./index.ejs">Park Bentley</a>

        </div>
        <ul class="navbar_menu">
            <li><a href="">서비스 이용</a>
                <ul>
                    <li><a href="./makeReservation.ejs">예약하기</a></li>
                    <li><a href="./changeReservation.ejs">예약변경</a></li>
                </ul>
            </li>
            <li><a href="">입출차 확인</a>
                <ul>
                    <li><a href="./enterCar.ejs">입차하기</a></li>
                    <li><a href="./departCar.ejs">출차하기</a></li>
                </ul>
            </li>
            <li><a href="">마이페이지</a>
                <ul>
                    <li><a href="myrecord.ejs">사용 기록 조회</a></li>
                    <li><a href="charge.ejs">잔액 충전</a></li>
                </ul>
            </li>
            <li><a href="">사용 통계 조회</a>
            <!--관리자 권한일때만 접근 가능하도록 설계-->
                <ul>
                    <li><a href="adminMonth.ejs">월별 사용통계</a></li>
                    <li><a href="adminDay.ejs">일별 사용통계</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- 기본 테마 끝 -->
    <div class="yellowBar">
        <p class="yellowBarText">예약 하기</p>
    </div>
    <!-- <div class="roundYellowBox">
    </div> -->
    <div class="container">
        <div class="roundYellowBox clearfix">
          <!--날짜 선택하는 달력-->
          <div class="calendar-box">
              <div class="ctr-box clearfix">
                <button type="button" title="prev" class="btn-cal prev">
                </button>
                <span class="cal-month"></span>
                <span class="cal-year"></span>
                <button type="button" title="next" class="btn-cal next">
                </button>
              </div>
              <table class="cal-table">
                <thead>
                  <tr>
                    <th>S</th>
                    <th>M</th>
                    <th>T</th>
                    <th>W</th>
                    <th>T</th>
                    <th>F</th>
                    <th>S</th>
                  </tr>
                </thead>
                <tbody class="cal-body"></tbody>
              </table>
          </div>
          <!-- 선택한 날짜 출력 -->
          <div class="clicked-date">
              <div class="sel-date">
                <div class="cal-all"></div>
                <div class="cal-date" name = "caldate"></div>
                <div class="cal-day" name="calday"></div>
              </div>
        </div>
        <iframe frameborder="0" width="750" height="320" src="./calendar"></iframe>
        <!-- // .my-calendar -->
        
    </div>
    <div id="nextYellowButton">
        <!-- 입력한 값이랑 같이 넘겨주기 -->
        <button id="buttonText" onclick="location.href='./confirmReservation'">예약 확인 >> </button>
    </div>

    <script src="./content/service/calendar.js"></script>
    <script src="./content/service/makeReservation.js"></script>


</body>

</html>