.container{
    position: absolute;
    width: 95%;
    height: 60%;
    top: 323px;
    left: 50%;
    margin-left: -48%;
}
.leftYellowBox{
    float: left;
    width: 50%;
    height: 95%;
    margin: 30px;
    background: #ffffff;
    border: 5px solid #EAD08C;
    border-radius: 58px;
    vertical-align: middle;
}
.rightYellowBox{
    float: right;
    width: 40%;
    height: 95%;
    margin: 30px;
    background: #ffffff;
    border: 5px solid #EAD08C;
    border-radius: 58px;
    vertical-align: middle;
    text-align: center;

}
.container .text{
    margin: 50px;
    /* float: left; */
    font-family:"Sans Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #483F37;   
}
.container .rightYellowBox h2{
    font-family:"Sans Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    color: #483F37;  
}
.container .rightYellowBox h2 .goToLogin{
    font-family:"Sans Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    color: #483F37;  
    margin-top: 200px;
    padding-top: -100px;
    border: 1px solid #EAD08C;
}
.rightYellowBox button #goToLogin{
    position: relative;
    width: 180px;
    height: 85px;
    font-size: 30px;
    /* margin: 20px; */
    /* margin-top: 50px;
    margin-right: 30px; */
    vertical-align: middle;
    text-align: center;
    background: #EAD08C;
    border-radius: 25px;
    border: none;
}

#money{
    font-family:"Sans Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    color: blue;  
}

#moneyplus{
    font-family:"Sans Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    color: red;  
}

.rightYellowBox button{
    position: relative;
    width: 180px;
    height: 85px;
    font-size: 30px;
    /* margin: 20px; */
    /* margin-top: 50px;
    margin-right: 30px; */
    vertical-align: middle;
    text-align: center;
    background: #EAD08C;
    border-radius: 25px;
    border: none;
}
.rightYellowBox button #p{
    position: relative;
    width: 180px;
    height: 85px;
    font-size: 30px;
    /* margin: 20px; */
    /* margin-top: 50px;
    margin-right: 30px; */
    vertical-align: middle;
    text-align: center;
    background: #EAD08C;
    border-radius: 25px;
    border: none;
}
.rightYellowBox #buttonToLogin button{
    position: relative;
    width: 240px;
    height: 85px;
    font-size: 30px;
    /* margin: 20px; */
    /* margin-top: 50px;
    margin-right: 30px; */
    vertical-align: middle;
    text-align: center;
    background: #EAD08C;
    border-radius: 25px;
    border: none;
}
#buttonText{
    /* text-align: center;
    vertical-align: middle; */
    font-family: "Red Rose";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    color: #483F37;
}
#buttonToLogin{
    /* text-align: center;
    vertical-align: middle; */
    font-family: "Red Rose";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    color: #483F37;
}